<?xml version="1.0"?>
<launch>
  <arg name="ns1"  default="r1"/>
  <arg name="model1" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="robot_name1"  default="robot1"/>
  <arg name="robot_posture1" default="-x 0 -y 0 -Y 0"/>

  <arg name="ns2"  default="r2"/>
  <arg name="model2" default="waffle"/>
  <arg name="robot_name2"  default="robot2"/>
  <arg name="robot_posture2" default="-x 0.7 -y 0 -Y 0"/> <!-- Important: Check the correct pose of the second robot to avoid a collision -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch"> <!-- Launch Gazebo with an empty world -->
    <!--arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns="$(arg ns1)">
    <!-- Send the robot XML to param server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model1).urdf.xacro" />

    <!-- Push robot_description to factory and spawn robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name1) $(arg robot_posture1) -param robot_description" />

    <!-- Convert joint states to TF transforms for RViz, position of the robot, etc -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg ns1)" />
    </node>
  </group>

  <group ns="$(arg ns2)">
    <!-- Send the robot XML to param server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model2).urdf.xacro" />

    <!-- Push robot_description to factory and spawn robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name2) $(arg robot_posture2) -param robot_description" />

    <!-- Convert joint states to TF transforms for RViz, position of the robot, etc -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg ns2)" />
    </node>
  </group>

</launch>
